<h1>Room</h1>

                <div class="container">
                  <form action='/post/create1/'class="form-horizontal">
                    <div class="form-group">
                      <label for="exampleInputName">게임 제목</label>
                      <input type="text" name="input_title" class="form-control" id="exampleInputName2" placeholder="Melody">
                    </div>
                    <div class="form-group ">
                      <label for="exampleInputText">설명</label>
                     <textarea name="input_content"  class="form-control" placeholder="내용을 입력하세요." ></textarea> 
                    </div>
                     <button type="submit" class="btn btn-default">만들기</button>
                   

                     </form>
                </div>
                <hr>
                <div class="row align-items-center">
<% @rooms.each do |post| %>

    <div class="card col-sm-6 col-md-3">
        <div class="font">
      <div class="card-body" >
        <h5 class="card-title" style="font-size:200%"><%=post.title %></h5>
        <p class="card-text">게임 <%=post.id %></p>
        <a href="/post/make/<%=post.id%>" class="btn btn-outline-success">Go</a>
      </div>
    </div>
    </div>
<% end %>
</div>