
<div class="row">
  <div class="col-md-1"></div>
  <div claa="col-md-10">
<h6><br><br></h6><h2>플랜 R의 새로운 회원이 되어주셔서 감사합니다.</h2>


    	<form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="bFH9fkL/WjJSD88fYilgNLf2O4E3zes4CNhSFk48lu7O5hACwEz2Q7oLFtNUZp9LPu0odETCF9zJj0cwdUjT/w==">
  

  <div class="form-inputs">
    <div class="input email required user_email"><label class="email required" for="user_email"><abbr title="required">*</abbr> Email</label><input autocomplete="email" class="string email required" autofocus="autofocus" required="required" aria-required="true" type="email" value="" name="user[email]" id="user_email"></div>
   <div class="input string required user_nickname"><label class="string required" for="user_nickname"><abbr title="required">*</abbr> Nickname</label><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" value="" name="user[nickname]" id="user_nickname"></div>
    <div class="input password required user_password field_with_hint"><label class="password required" for="user_password"><abbr title="required">*</abbr> Password</label><input autocomplete="new-password" class="password required" required="required" aria-required="true" type="password" name="user[password]" id="user_password" aria-autocomplete="list"><span class="hint">6 characters minimum</span></div>
    <div class="input password required user_password_confirmation"><label class="password required" for="user_password_confirmation"><abbr title="required">*</abbr> Password confirmation</label><input autocomplete="new-password" class="password required" required="required" aria-required="true" type="password" name="user[password_confirmation]" id="user_password_confirmation"></div>
  </div>

  <div class="form-actions">
    <input type="submit" name="commit" value="회원가입" class="btn" data-disable-with="회원가입">
  </div>
</form>
<%#= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= f.error_notification %>

  <!--<div class="form-inputs">-->
    <%#= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
   <%#= f.input :nickname,
                required: true,
                autofocus: true %>
    <%#= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } 
                %>
    <%#= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } 
                %>
  <!--</div>-->

  <!--<div class="form-actions">-->
    <%#= f.button :submit, "회원가입" %>
  <!--</div>-->
<%# end %>

<%= render "devise/shared/links" %>
</div>
<div class="col-md-1"></div>

</div>