<div class="content">
<br><br>
<br><br><br>>
<center>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  
  
   <div class="card2">
      <article class="card-body">
      	<h4 class="card-title mb-4 mt-1">:: 회원가입</h4>
      	<hr>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
              <input autocomplete="email"  autofocus="autofocus" value="" name="user[email]" id="user_email" class="form-control" placeholder="이메일" type="email" />
          </div> <!-- form-group// -->
          
          <div class="form-group">
              <input  name="user[nickname]" id="user_nickname" class="form-control" type="text" placeholder="닉네임"/>
          </div> <!-- form-group// -->       
          
          <div class="form-group">
              <input  name="user[password]" id="user_password" class="form-control" placeholder="******" type="password"/>
          </div> <!-- form-group// -->       
          
          <div class="form-group">
              <input  name="user[password_confirmation]" id="user_password_confirmation" class="form-control" placeholder="******" type="password"/>
          </div> <!-- form-group// -->         
          
          <div class="form-group">
              <input type="submit" class="btn btn-blueblack btn-block fo" name="commit" value="회원가입" class="btn" data-disable-with="회원가입" >
          </div> <!-- form-group// -->
  <% end %>
      <!--</form>-->
      </article>
</div> <!-- card.// -->



<!--<%#= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
<!--  <%#= f.error_notification %>-->

<!--  <div class="form-inputs">-->
<!--    <%#= f.input :email,-->
<!--                required: true,-->
<!--                autofocus: true ,-->
<!--                input_html: { autocomplete: "email" }%>-->
<!--   <%#= f.input :nickname,-->
<!--                required: true,-->
<!--                autofocus: true %>-->
<!--    <%#= f.input :password,-->
<!--                required: true,-->
<!--                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),-->
<!--                input_html: { autocomplete: "new-password" } -->
<!--                %>-->
<!--    <%#= f.input :password_confirmation,-->
<!--                required: true,-->
<!--                input_html: { autocomplete: "new-password" } -->
<!--                %>-->
<!--</div>-->
<!--<%#end%>-->
<div class="col-md-4"></div>
</div>
</center>
</div>
