
<br>
<br>
<br>
<br>
<br>
<div class="content">
<center>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  
  
   <div class="card">
      <article class="card-body">
      	<a href="" class="float-right btn btn-outline-primary">회원가입</a>
      	<h4 class="card-title mb-4 mt-1">로그인</h4>
      	<p>
      		<a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i>   트위터 로그인</a>
      		<a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Facebook 로그인</a>
      	</p>
      	<hr>
      	<form>
          <div class="form-group">
              <input name="email" class="form-control" placeholder="Email or login" type="email">
          </div> <!-- form-group// -->
          <div class="form-group">
              <input name="password" class="form-control" placeholder="******" type="password">
          </div> <!-- form-group// -->                                      
    
                  <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-block fo">
                      <a class="small" href="#">비밀번호를 잊으셨나요?</a>
                  </div> <!-- form-group// -->

             <!-- .row// -->                                                                  
      </form>
      </article>
</div> <!-- card.// -->


<div class="login-wrapper">
<br>

<form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">

<input type="hidden" name="authenticity_token" value="RlcIa+Kw5GO3AIt0QbaUcamAYGDdigsmA0IErTaddu9fvPj0k9+Zt/6IuZ8/u8v8q3qFcbtzke/Fz2/WhmH85A==">
          <div class="input email optional user_email">
              <label class="email optional" for="user_email">Email</label>
              
              <input autocomplete="email" class="string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email"></div>
          <div class="input password optional user_password">
              
              <label class="password optional" for="user_password">Password</label><input autocomplete="current-password" class="password optional" type="password" name="user[password]" id="user_password"></div>
          <div class="input boolean optional user_remember_me">
              
              <input value="0" type="hidden" name="user[remember_me]"><label class="boolean optional checkbox" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember me</label></div>
    <div class="form-actions">
    <input type="submit" name="commit" value="로그인" class="btn" data-disable-with="로그인">
    </div>
</form>

<!--<%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--          <%#= f.input :email,-->
<!--                required: false,-->
<!--                autofocus: true,-->
<!--                input_html: { autocomplete: "email" }, :class => 'login-input' %>-->
<!--          <%#= f.input :password,-->
<!--                required: false,-->
<!--                input_html: { autocomplete: "current-password" } %>-->
<!--          <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>-->
<!--    <div class="form-actions">-->
<!--    <%#= f.button :submit,"로그인"%>-->
<!--    </div>-->
    
  
<!--<%# end %>-->
</div>>
<div class="col-md-4"></div></div>
</center>
</div>

<%= render "devise/shared/links" %>
