
<br>
<br>
<br>
<div class="content">
<center>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  
  
  


   <div class="card2">
      <article class="card-body">
      	<a href="<%=new_user_registration_path%>" class="float-right btn btn-blueblack">회원가입</a>
      	<h4 class="card-title mb-4 mt-1">:: 로그인</h4>
      	<p>
      		<a href="" class="btn btn-block btn-outline-success"> <i class="fab fa-twitter"></i>   Naver 로그인</a>
      		<a href="" class="btn btn-block btn-blue"> <i class="fab fa-facebook-f"></i>   Facebook 로그인</a>
      	</p>
      	<hr>
    <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="c8RsZzBRW4/XCyyreSuqQByRzA4d66PjUoLR3tCajwA8HetcBVD6BdvjIzDIk9LRmR0prHa4XKrnJXGtG/HGLA==">
      	
    <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      	<!--<form id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">-->
          <div class="form-group">
    
              <input autocomplete="email"  autofocus="autofocus" value="" name="user[email]" id="user_email" class="form-control" placeholder="이메일" type="email" >
          </div> <!-- form-group// -->
          <div class="form-group">
              <input  autocomplete="current-password" name="user[password]" id="user_password" class="form-control" placeholder="******" type="password">
          </div> <!-- form-group// -->         
          <div class="form-group">
              <input value="0" type="hidden" name="user[remember_me]">
              <label  for="user_remember_me">
                  <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">아이디, 비밀번호 기억하기</label>
          </div>
                  <div class="form-group">
                      <input type="submit" class="btn btn-blueblack btn-block fo" name="commit" value="로그인" class="btn" data-disable-with="로그인" >
                       <a class="small" href="#">비밀번호를 잊으셨나요?</a>
                  </div> <!-- form-group// -->
              </div>
          <%# end %>
      </form>
      </article>
</div> <!-- card.// -->


</div>
<div class="col-md-4"></div>
</div>
</center>
</div>

<%= render "devise/shared/links" %>
