<div id="delete_<%=room.id%>" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">정말로 삭제하시겠습니까?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=room.title %>
        <p>방이 삭제됩니다.</p>
      </div>
      <div class="modal-footer">
	      <%=form_tag room_delete_path(room.id), {method: 'post', style:'display:inline'} do %>
		    <%=submit_tag '삭제하기', class: 'btn btn-blueblack' %>
	      <% end %>
        <button type="button" class="btn btn-blueblack" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>

