<form method='post' action='<%=stage_show_path(params[:room_id])%>' id='checkAnswer' >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type='hidden' name='stage_level' value='<%=@stage_level %>'/>
    <input type='hidden' name='is_wrong_answer' value='<%=@is_wrong_answer %>'/>
</form>

<script>

<% if @is_wrong_answer %>
    document.getElementById("checkAnswer").submit();
<% else %>
    document.getElementById("checkAnswer").submit();
<% end %>

</script>


      