<br>
<br>
<h3>당신을 돕기 위해 누군가 찾아왔습니다.</h3><br>
<hr>
<br>


<% if Integer(@hint_num) == 1 %>
  <h5>힌트 1 :: <%=@hintlist.hint1%></h5>
<% elsif Integer(@hint_num) == 2 %>
  <h5>힌트 2 :: <%=@hintlist.hint2%></h5>
<% else %>
  <h5>힌트 3 :: <%=@hintlist.hint3%></h5>
<% end %>

<br><br><hr><%=link_to "홈 화면으로", '/'%>
