<div class="content">
<div class="row">
  <div class="col-md-2">
    
      <%=render 'mypage_menu' %>
  </div>
  <div class="col-md-9">

<br>
<br>
<p style="font-size:30px;"><b>쿠폰 입력</b></p>
<hr>
<br>
<br>

<p style="font-size:20px; color:red;"><b>
쿠폰 번호를 입력하시면 '아이템' 혹은 '특별 칭호'를 획득하실 수 있습니다.
</b></p>

<br>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">쿠폰 번호</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="쿠폰 번호 12자리를 입력하세요.">
    <small id="emailHelp" class="form-text text-muted">'-' 없이 숫자만 입력해야 합니다.</small>
  </div>
  <button type="submit" class="btn btn-primary">제출</button>
</form>

<br>
<br>
</div>
<div class="col-md-1"></div>
</div>
</div>