<head>
    <title>플랜 R :: 만든다. 방탈출.</title>
</head>
<body>
    <%= alert %>
    <%= notice %>
    <div class="mainpage_wrapper">
        <div class="mainpage" >
             <!--임시 주석처리 내가풀었어 ㅎ헷 -->
            <center>
                <!--여기 할일 툭-->
            <div class="mainpage_button"><a href="<%= room_mine_path%>">메이커</a></div>  
            <div class="mainpage_button"><a href="<%= room_index_path%>">플레이</a></div>
            </center>
        </div>
    </div>
</body>
