<br>
<br>
<h3>마이페이지</h3><br>
<hr>
<br>
<%=@user.rank_point%>
<%= link_to '<i class="material-icons left">build</i>계정 수정'.html_safe, edit_user_registration_path, :class => 'waves-effect waves-light btn' %>
<br>
<br>
<%= link_to '<i class="material-icons left">drafts</i>멀티플레이 초대 수락'.html_safe, post_notification_path, method: :get, :class => 'waves-effect waves-light btn' %>


<br><br><hr><%=link_to "홈 화면으로", '/'%>