<div class="content" align="center">
<div class="row">
    <div class="col-md-2">
      <%= render 'ranking_menu' %>
    </div>
    
    <div class="col-md-9">


<br>
<br>
<h3 style="font-size:30pt; color:#4286f4;"><b>프리시즌</b></h3>
<h4 style="font-size:20pt; color:#6d737c;"><b>8월 24일 0시 ~ 9월 3일 0시</b></h4>

<br>
<br>
<hr>

<p style="font-size:15pt; color:red;"><b>프리시즌 기간 동안에는 획득하는 EP(Escape Point)가 5배가 됩니다.</b></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
<div class="col-md-1">
</div>

</div>
</div>