<div class="content">
<div class="row">
    <div class="col-md-2">
      <%= render 'ranking_menu' %>
    </div>
    
    <div class="col-md-9">


<br>
<br>
<h3><b>현재 진행중 :: 프리시즌(Pre-Season)</b></h3>

<br>
<br>

<h5><b>해커톤 시작 ~ 9월 3일 0시까지</b></h5>
<p style="color:red;"><b>프리시즌 기간 동안에는 획득하는 EP(Escape Point)가 1.5배가 됩니다.</b></p>
<br>

NOTE: 해커톤 이전에는 <b>테스트를 위해 획득 EP 5배 효과</b>가 적용중입니다.

<br>
<br>
<br>
<br>
<br>
<br>

</div>
<div class="col-md-1">
</div>

</div>
</div>