<br>
<br>
<h3>랭킹</h3>

EP(Escape Point) 를 올려 그랜드마스터에 도전하자!<br><br>
시즌 1 기간 : 8월 25일 (정식 서비스 오픈 이후) ~ 9월 30일<br><br>

<table>
        <thead>
          <tr>
              <th>순위</th>
              <th>닉네임</th>
              <th>Rank</th>
              <th>EP (Escape Point)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>정크랫</td>
            <td>그랜드마스터</td>
            <td>10.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>디바</td>
            <td>마스터</td>
            <td>9.58</td>
          </tr>
          <tr>
            <td>3</td>
            <td>트레이서</td>
            <td>실력자</td>
            <td>8.29</td>
          </tr>
        </tbody>
      </table>
            


<br><br><hr><%=link_to "홈 화면으로", '/' %>