// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 카드 목록 CSS */

/* CARD STYLING */

.card {
  border-radius: 0;
  padding: 0;
  display: inline-block;
  width: 20em;
  height: 25em;
  margin-bottom: 1em;
}

.card img {
  border-radius: 0;  
}

.card h5 {
  font-weight: bold;
}

.card h5, .card p {
  text-align: left;
}


.btn-play,
.btn-play::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-play {
  border: 1px solid #1F2344; 
  border-radius: 3px;
  color: #1F2344;
}

.btn-play:hover {
  color: white;
  background: #1F2344;
}

.btn-play::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-play:hover:after {
  width: 100%;
}








/* 카드 목록 CSS 끝 */

/* show.html.erb */

.btn-blueblack {
    background-color: #1F2344; 
    color: #FFFFFF;
}

.btn-blueblack:visited {
    background-color: #1F2344;
    color: #FFFFFF;
}

.btn-blueblack:hover {
    background-color: grey;
    color: #FFFFFF;
}

.btn-blueblack:click {
    background-color: #1F2344;
    color: #FFFFFF;
}

/* show.html.erb 시작 */

.play_mode p {
    font-size: 20pt;
}

/* show.html.erb 끝 */

/* mine.html.erb 시작 */
    
.new_room {
    float: right;
}
    
/* mine.html.erb 끝 */


img{
  width: 100%;
  height: auto;
}