// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 카드 목록 CSS */

/* CARD STYLING */

.card_list{
  margin-top: 2em;
  width: 26em;
}

.card,
.card_front,
.card_back {
  width: 20em;
  height: 25em;
}

.card_front,
.card_back {  
/*   height: 100%; */
  box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.28); 
}

.nonthumb{
    background: url(/assets/mainpage_img.jpg) no-repeat;
    background-size: 100% 100%;
}

.thumbnail {
    background: url(:thumb) no-repeat;
}


.card-symbol {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1em;  
  mix-blend-mode: lighten;
}

@supports(display:flex){
 .card_front {  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } 
  
  .card_front .card-symbol {  
    margin: 0 0.15em;
    font-size: 2em;
    height: 90%;
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_back {
  padding: 1em;
}

.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(245, 245, 245, 0.6);  
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
  color: black;
  height: 75%;
}

.card_line {    
  margin-top: 0;
  padding: 2em 0 0;
  border-top: 8px solid #333;
}


/* FLIP CARD STYLING */
.card_list {
  perspective: 1000px;
  display:inline-block;
}

.card_list:hover .card, 
.card_list.hover {
  transform: rotateY(-180deg);
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}

/* 카드 목록 CSS 끝 */

/* show.html.erb */

.s8 h2 {
    text-align: center;
}

.s8 h5 {
    text-align: left;
}

.content_box {
    border: 1px solid #e9e9e9;
}


.btn {
    background-color: #1F2344; 
    color: #FFFFFF;
}

.btn:visited {
    background-color: #1F2344;
    color: #FFFFFF;
}

.btn:hover {
    background-color: grey;
    color: #FFFFFF;
}

.btn:click {
    background-color: #1F2344;
    color: #FFFFFF;
}

/* show.html.erb 시작 */

.play_mode p {
    font-size: 20pt;
}

/* show.html.erb 끝 */

/* mine.html.erb 시작 */
    
.new_room {
    float: right;
}
    
/* mine.html.erb 끝 */