// Place all the styles related to the Stages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 타임라인 내비게이션 

main {
  z-index: 2;
  position: relative;
  height: 70%;
  background-color: transparent;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #FFFFFF;
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-color: black;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}


.modal.fade{
  z-index:200;
  
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

.sidebar {
    overflow-y: scroll;
    height: 70%;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .3s .1s ease-in-out;
  -moz-transition: all .3s .1s ease-in-out;
  -ms-transition: all .3s .1s ease-in-out;
  -o-transition: all .3s .1s ease-in-out;
  transition: all .3s .1s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .3s .1s ease-in-out;
  -moz-transition: all .3s .1s ease-in-out;
  -ms-transition: all .3s .1s ease-in-out;
  -o-transition: all .3s .1s ease-in-out;
  transition: all .3s .1s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .3s .1s ease-in-out;
  -moz-transition: all .3s .1s ease-in-out;
  -ms-transition: all .3s .1s ease-in-out;
  -o-transition: all .3s .1s ease-in-out;
  transition: all .3s .1s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .3s .1s ease-in-out;
  -moz-transition: all .3s .1s ease-in-out;
  -ms-transition: all .3s .1s ease-in-out;
  -o-transition: all .3s .1s ease-in-out;
  transition: all .3s .1s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: black;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 60px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

// 타임라인 내비게이션 끝

// manage.html.erb 시작

.stage_list {
    height: absolute;
    border: 1px solid #e9e9e9;
    margin-top: 10px;
    margin-left: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.list_line {
    width: 90%;
    border: none;
    color: #e9e9e9;
    background-color: #e9e9e9;
    height: 1px;
}

.make_room {
    margin-left: 3vw;
}
// manage.html.erb 끝


// modal 위치 

.modal {
  margin-top: 20em;
  
}
.modal-backdrop {
  opacity: 0.7;
}

#img-upload {
  top:0px;
  left:0px;  
  position: relative;

}


#img-area{    //aa
  z-index: 201;
  background-color: skyblue;
  border: 2px dotted blue;
  opacity: 0.2;
  
}

#img-border{     //bb
  
  background-color: rgba(255, 0, 0, 0.25);
  border: 5px solid red;
  
}

//선택지테마

.todoListContainer button {
  outline: none;
  cursor: pointer;
}
.todoListContainer {
  width: 500px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#todoList {
  text-align: left;
  list-style-type: none;
  margin: 0;
  margin-top: 60px;
  float: none;
  padding: 0;
  width: 100%;
}
@keyframes fadein {
  from {
    background-color: #ffffab;
  }
  to {
    background-color: white;
  }
}
#todoList li {
  border: 0px;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
  margin: 5px auto;
  clear: both;
  transition: all 1.3s ease-in-out;
  animation: fadein 1.3s ease-in-out;
}

#todoList li p {
  display: inline-block;
  margin: 0;
  text-overflow: ellipsis !important;
  overflow: hidden;
  width: 75%;
  transition: all 0.3s ease;
}

#todoList li button {
  float: right;
  margin: -5px 5px;
  border-radius: 100%;
  border: 0px solid transparent;
  width: 25px;
  height: 25px;
  text-align:center;
}
#newTodo {
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border: 0px;
  border-bottom: 1px solid #cecece;
  width: 445px;
  float: left;
  outline: none;
}
#addTodo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: right;
  border: 0px;
  background-color: #fc616d;
  cursor: pointer;
}
#addTodo .fa {
  color: white;
}
.lineThrough {
  background-color: grey;
  color: lightgrey;
}

.doneTodo {
  background-color: #00d7a1;
  color: white;
}
.removeTodo {
  background-color: #f43449;
  color: white;
}

.doneTodoGrey {
  background-color: grey;
  color:blue;
}

.sohrabsLink {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  font-weight: bold;
  margin: 20px auto;
  width: 180px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 20px;
  bottom: 0;
  color: #fc616d;
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}



// card3

.card3 {
  box-shadow: 3px 3px 1px 1px #e9e9e9;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  width: 30vw;
  height: 10vh;
  display: inline-block;
  background-color: white;

}

.card4 {
  box-shadow: 3px 3px 1px 1px #e9e9e9;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  width: 19vw;
  height: 10vh;
  display: inline-block;
  background-color: white;
  
}

.card5 {
  box-shadow: 3px 3px 1px 1px #e9e9e9;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  width: 62vw;
  height: 30vh;
  display: inline-block;
  background-color: white;
  
}

h5 {
  text-align: left;
}

.key{
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  margin: 6px;
  line-height: 50px;
	text-align: center;
  font-size: 2em;
  cursor: pointer;
  color:black;
}

.key:hover{
  color: #212529;
}

.btn-num {
	color: #eee;
	transition: all 0.5s;
	position: relative;
  border-radius: 100%;
  padding: 4px 0;
  background: transparent;
}
.btn-num::active {
  background-color: rgba(255,255,255,0.3);
}

.btn-num::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.2);
	transition: all 0.3s;
  border-radius: 100%;
}
.btn-num:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-num::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
  border-radius: 100%;
}
.btn-num:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.calculator {
  background-color: black;
  opacity: 0.4;
  width: 17em;
  border: 1px solid #212529;;
  border-radius: 1%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset; 
}

.cal-line {
  background-color: none;
  border: 0.1px solid #e9e9e9;
  width: 12em;
}

.showfix{
  background-color: #1e1e1e;
}
